@charset "UTF-8";
#section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5em;
}
#number {
	font-size: 500%;
	font-style: italic;
}
#chapter {
	font-weight: bolder;
}
#titles {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
}
h1 {
	margin-bottom: 1em;
}
h2 {
	margin-top: 2em;
}
table {
	background-color: #c0c0c0;
	margin-bottom: 2em;
}
td {
	background-color: #ffffff;
}

