@charset "UTF-8";
html {
	background-color: #c0c0c0;
	font-family: 'Noto Serif JP', serif;
	font-size: 30px; /* 30 pixels */
}
body {
	font-size: 0.5rem; /* 0.5 times of the html tag */
}
main {
	background-image: url(../chapter2/myhead.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
div p {
	color: #ff0000;
	background-color: #000000;
}
p {
	line-height: 2;
	text-align: justify;
}
h1, h2 {
	color: #0000ff;
	background-color: #000000;
	font-size: 200%; /* 2 times of a parent tag */
	font-weight: bold;
}

