@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
}
address {
	display: flex;
	font-style: normal;
	justify-content: space-between;
	min-width: 200px;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
}
div#grid {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
	overflow: hidden;
}
div#grid img {
	height: 100%;
	width: 100%;
}
header, footer {
	align-items: center;
	background: black;
	color: white;
	display: flex;
	justify-content: space-between;
	min-height: 50px;
	padding: 0 50px;
}
iframe, video, div#grid {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
	z-index: 0;
}
img {
	transition: 1s;
}
img:hover {
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
	filter: none !important;
	transform: scale(1.5);
	position: relative;
	z-index: 2;
}
img#big-image {
	grid-row: 2/4;
	grid-column: 2/4;
	filter: grayscale(100%);
}
img#blur {
	filter: blur(50px);
}
img#brightness {
	filter: brightness(0%);
}
img#contrast {
	filter: contrast(0%);
}
img#hue-rotate {
	filter: hue-rotate(360deg);
}
img#invert {
	filter: invert(100%);
}
img#saturate {
	filter: saturate(1000%);
}
img#sepia {
	filter: sepia(100%);
}
img#translate:hover {
	transform: scale(4) translate(-200px, -200px);
}
img#rotate:hover {
	transform: scale(4) rotate(180deg);
}
img#skew:hover {
	transform: scale(4) skew(40deg, 40deg);
}
img#get-big:hover {
	transform: scale(8);
	transform-origin: right bottom;
}
main{
	height: 100%;
	overflow: auto;
	scroll-snap-type: y mandatory;
}
section {
	height: 100%;
	position: relative;
	scroll-snap-align: center;
	width: 100%;
}
.document {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
}
.video-filter {
	background-image: repeating-linear-gradient(0deg, transparent, transparent 1px, rgba(255, 255, 255, 0.5) 1px, rgba(255, 255, 255, 0.5) 2px);
	height: 100%;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

