@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
}
address {
	display: flex;
	font-style: normal;
	justify-content: space-between;
	min-width: 200px;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
}
div#grid {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
}
div#grid>img {
	height: 100%;
	width: 100%;
}
header, footer {
	align-items: center;
	background: black;
	color: white;
	display: flex;
	justify-content: space-between;
	min-height: 50px;
	padding: 0 50px;
}
iframe, video, div#grid {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
	z-index: 0;
}
img#big-image {
	grid-row: 2/4;
	grid-column: 2/4;
}
main{
	height: 100%;
	overflow: auto;
	scroll-snap-type: y mandatory;
}
section {
	height: 100%;
	position: relative;
	scroll-snap-align: center;
	width: 100%;
}
.document {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.video-filter {
	background-image: repeating-linear-gradient(0deg, transparent, transparent 1px, rgba(255, 255, 255, 0.5) 1px, rgba(255, 255, 255, 0.5) 2px);
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

