@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: red;
}
address {
	font-style: normal;
}
address>a {
	margin-left: 50px;
	margin-right: 50px;
}
header, footer {
	align-items: center;
	background: black;
	color: white;
	display: flex;
	justify-content: space-between;
	min-height: 50px;
	width: 100%;
}
header {
	position: fixed;
	z-index: 1;
}
header>nav>ul {
	display: flex;
	justify-content: space-between;
}
header>nav>ul>li {
	width: 100px;
}
html {
	scroll-behavior: smooth;
	--dark-yellow: #c0c000;
	--my-head: url(../../images/myhead.jpg);
	--image-size: 200px;
	--sky: #60c0ff;
	--earth: #80c040;
	--background: linear-gradient(var(--sky), var(--earth));
}
ol, ul {
	list-style-type: none;
}
section {
	padding-top: 100px;
}
.blend-mode {
	background-color: var(--dark-yellow);
	background-image: var(--my-head);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: var(--image-size);
	width: var(--image-size);
}
#blend-mode-table {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--image-size), 1fr));
}
#blend-mode-multiply {
	background-blend-mode: multiply;
	mix-blend-mode: multiply;
}
#blend-mode-screen {
	background-blend-mode: screen;
	mix-blend-mode: screen;
}
#blend-mode-overlay {
	background-blend-mode: overlay;
	mix-blend-mode: overlay;
}
#blend-mode-darken {
	background-blend-mode: darken;
	mix-blend-mode: darken;
}
#blend-mode-lighten {
	background-blend-mode: lighten;
	mix-blend-mode: lighten;
}
#blend-mode-color-dodge {
	background-blend-mode: color-dodge;
	mix-blend-mode: color-dodge;
}
#blend-mode-color-burn {
	background-blend-mode: color-burn;
	mix-blend-mode: color-burn;
}
#blend-mode-hard-light {
	background-blend-mode: hard-light;
	mix-blend-mode: hard-light;
}
#blend-mode-soft-light {
	background-blend-mode: soft-light;
	mix-blend-mode: soft-light;
}
#blend-mode-difference {
	background-blend-mode: difference;
	mix-blend-mode: difference;
}
#blend-mode-exclusion {
	background-blend-mode: exclusion;
	mix-blend-mode: exclusion;
}
#blend-mode-hue {
	background-blend-mode: hue;
	mix-blend-mode: hue;
}
#blend-mode-saturation {
	background-blend-mode: saturation;
	mix-blend-mode: saturation;
}
#blend-mode-color {
	background-blend-mode: color;
	mix-blend-mode: color;
}
#blend-mode-luminosity {
	background-blend-mode: luminosity;
	mix-blend-mode: luminosity;
}
#custom-property-background {
	background: var(--background);
	min-height: var(--image-size);
	min-width: var(--image-size);
}
#transition {
	display: inline-block;
	min-height: var(--image-size);
	min-width: var(--image-size);
	width: 50%;
	transition: background 0.5s linear, width 1s linear;
}
#transition:hover {
	background: red;
	width: 100%;
}
#key-frame {
	animation: background 3s linear infinite;
	display: inline-block;
	min-height: var(--image-size);
	min-width: var(--image-size);
}
#key-frame:hover {
	animation-duration: 0.5s;
}
@keyframes background {
	0% {
		background: #ff0000;
	}
	33% {
		background: #00ff00;
	}
	66% {
		background: #0000ff;
	}
	100% {
		background: #ff0000;
	}
}
#clip-path {
	align-items: center;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	min-height: var(--image-size);
	min-width: var(--image-size);
}
#clip-path:hover {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#arrow {
	align-items: center;
	background: blue;
	clip-path: polygon(0% 30%, 70% 30%, 70% 0%, 100% 50%, 70% 100%, 70% 70%, 0% 70%);
	color: white;
	display: flex;
	justify-content: center;
	min-height: var(--image-size);
	min-width: var(--image-size);
}
#ellipse {
	align-items: center;
	background: green;
	clip-path: ellipse(50% 100% at 50% 0%);
	color: white;
	display: flex;
	justify-content: center;
	min-height: var(--image-size);
	min-width: var(--image-size);
}

