main {
 height: 100%;
 overflow: auto;
 >div#one-third-width {
  $unit: 10px;
  background: #00ff00;
  padding: {
   top: $unit;
   bottom: calc(2 * #{$unit});
   left: calc(3 * #{$unit});
   right: calc(4 * #{$unit});
  }
  margin: {
   top: $unit;
   left: calc(10 * #{$unit});
  }
  width: calc(100% / 3);
 }
 div#circles {
  $unit: 300px;
  display: grid;
  grid-template-columns: repeat(3, #{$unit});
  grid-template-rows: repeat(3, #{$unit});
  div {
   background: black;
  }
 }
}

