@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
}
address {
	display: flex;
	font-style: normal;
}
footer {
	display: flex;
	justify-content: space-between;
}
footer div {
	margin: 20px 100px;
}
h1 {
	padding: 0 100px;
}
header, footer {
	background: #000000;
	color: #ffffff;
}
header {
	display: flex;
	justify-content: space-between;
}
nav>ul {
	display: flex;
}
nav>ul>li>ul {
	background: #000000;
	display: none;
	position: absolute;
}
nav>ul>li:hover>ul {
	display: block;
}
nav li>div {
	border-bottom: 1px solid #ffffff;
	margin: 5px;
	text-align: center;
	width: 200px;
}
nav li>div:hover {
	color: #ff0000;
	cursor: pointer;
	border-bottom: 1px solid #ff0000;
}
ol, ul {
	list-style-type: none;
}

