@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
}
address {
	display: flex;
	font-style: normal;
}
article {
	background: url('../../images/myhead.jpg') right top / 100% auto;
	width: 800px;
}
article, aside {
	height: 200vh;
}
aside {
	background: #80ff80;
	width: 400px;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
}
footer div {
	margin: 0 100px;
}
h1 {
	padding: 0 100px;
}
h2 {
	background: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 1rem;
	margin: 1rem;
}
header, footer {
	align-items: center;
	background: #000000;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	min-height: 50px;
}
main {
	display: flex;
	justify-content: center;
	overflow: auto;
}
nav>ul {
	display: flex;
}
nav>ul>li>ul {
	background: #000000;
	display: none;
	position: absolute;
}
nav>ul>li:hover>ul {
	display: block;
}
nav li>div {
	border-bottom: 1px solid #ffffff;
	margin: 5px;
	text-align: center;
	width: 200px;
}
nav li>div:hover {
	color: #ff0000;
	cursor: pointer;
	border-bottom: 1px solid #ff0000;
}
ol, ul {
	list-style-type: none;
}
.bar-chart {
	background: #ffffff;
	padding: 10px;
}
.ct-bar {
	stroke-width: 100px;
}
.ct-label {
	font-size: 1rem;
	fill: #000000;
}
.ct-series-a>.ct-slice-pie {
	fill: #ffc0c0;
}
.ct-series-a>.ct-bar {
	stroke: #0000ff;
}
.ct-series-b>.ct-slice-pie {
	fill: #c0ffc0;
}
.ct-series-c>.ct-slice-pie {
	fill: #c0c0ff;
}
.home-chart {
	text-align: center;
}

