@charset "UTF-8";
html {
	font-size: 100%;
}
body {
	background-image: url(../../images/myhead.jpg), linear-gradient(#00ffff, #ff00ff);
	background-size: cover;
	background-blend-mode: difference;
	font-family: 'Noto Serif JP', serif;
	line-height: 1.5;
	color: #000000;
	max-width: 1024px;
	min-height: 100vh;
	margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
}
nav>ul {
	display: flex;
	text-transform: uppercase;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 16px;
	margin-right: 16px;
	list-style: none;
}
nav>ul>li {
	margin-left: 16px;
	margin-right: 16px;
}
nav>ul>li>a {
	color: #000000;
}
nav>ul>li>a:hover {
	color: #ff0000;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
#logo {
	width: 128px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 16px;
	margin-right: 16px;
}
main {
	text-align: center;
	margin-top: 10%;
}
main>p {
	margin-top: 32px;
	margin-bottom: 32px;
	font-size: 2em;
}
h2 {
	font-size: 5em;
}
.button {
	font-size: 2em;
	background: #0080ff;
	color: #ffffff;
	border-radius: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
}
.button:hover {
	background: #00a0ff;
}

