@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
}
body {
 --body-height: 100vh;
 --header-footer-height: 5vh;
 --main-height: calc(var(--body-height) - 2 * var(--header-footer-height));
 position: relative;
 a {
  color: inherit;
  text-decoration: none;
  &:hover {
   color: red;
  }
 }
 .dark-theme {
  background: black;
  color: white;
 }
 .light-theme {
  background: white;
  color: black;
 }
 .loaded {
  opacity: 0;
  visibility: hidden;
 }
 >* {
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
 }
 #loading {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  transition: all 1s;
  z-index: 1;
  #busy-cursor {
   --radius: 10rem;
   --diameter: calc(2 * var(--radius));
   align-items: center;
   border-radius: var(--radius);
   display: flex;
   height: var(--diameter);
   justify-content: center;
   width: var(--diameter);
   #busy-cursor-hole {
    background: white;
    border-radius: 50%;
    height: 70%;
    width: 70%;
   }
  }
 }
 #content {
  display: flex;
  flex-direction: column;
  height: var(--body-height);
  justify-content: space-between;
  z-index: 0;
  header, footer {
   align-items: center;
   display: flex;
   justify-content: space-between;
   height: var(--header-footer-height);
   address { 
    display: flex;
    font-style: normal;
    justify-content: space-between;
    width: 40vw;
   }
   div {
    min-width: 20vw;
    text-align: center;
   }
  }
  main {
   align-items: center;
   display: flex;
   flex-direction: column;
   height: var(--main-height);
   justify-content: space-evenly;
   textarea {
    font-size: 2em;
    height: 16rem;
    padding: 1rem;
    width: 32rem;
   }
   #theme-button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
   }
  }
 }
}
