* {
  margin: 0;
  padding: 0;
}

body {
  --header-height: 3rem;
  --footer-height: 3rem;
  --section-title-height: 3rem;
}
@media (prefers-color-scheme: light) {
  body {
    --background: white;
    --color: black;
    --shadow-color: rgba(0, 0, 0, 0.25);
    background: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --background: white;
    --color: black;
    --shadow-color: rgba(255, 255, 255, 0.25);
    background: black;
    color: white;
  }
}
body a {
  color: inherit;
  text-decoration: none;
}
body header, body footer {
  background: #e0ffff;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
body header {
  height: var(--header-height);
  position: relative;
  text-align: center;
  top: 0;
}
body header h1 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
body header #menu {
  height: var(--header-height);
  position: absolute;
  right: 0;
  top: 0;
  width: var(--header-height);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body header #menu div {
  height: calc(100% / 7);
  width: calc(100% * 5/ 7);
  background: #80ffff;
  border-radius: calc(var(--header-height) / 14);
}
body footer {
  bottom: 0;
  height: var(--footer-height);
  position: absolute;
}
body footer address {
  font-style: normal;
  height: 100%;
}
body footer address ul {
  align-items: end;
  display: flex;
  height: 100%;
  list-style: none;
}
body footer address ul li {
  align-items: center;
  display: flex;
  height: var(--footer-height);
  justify-content: center;
  text-align: center;
}
body footer address ul li img {
  height: 80%;
}
body nav {
  background: #e0ffff;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: var(--header-height);
  width: 0;
  z-index: 1;
}
body nav ul {
  list-style: none;
  width: 15rem;
}
body nav ul li {
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  border-bottom: 1px solid;
}
body main {
  background: white;
  height: 100vh;
  left: 0;
  overflow: auto;
  position: absolute;
  position: fixed;
  scroll-snap-type: y mandatory;
  top: 0;
  width: 100vw;
  z-index: 0;
}
body main section {
  height: calc(100% - var(--header-height) - var(--footer-height) - var(--section-title-height));
  scroll-snap-align: center;
  padding-top: calc(var(--header-height) + var(--section-title-height));
  padding-bottom: var(--footer-height);
}
body main section h2 {
  display: none;
}
body main section ul {
  margin: 1rem;
}
body #section-title {
  align-items: center;
  background: linear-gradient(to right, white 0%, white calc(100%/3), transparent calc(100% * 2 / 3), transparent 100%);
  display: flex;
  font-size: x-large;
  font-weight: bold;
  height: var(--section-title-height);
  left: 0;
  pointer-events: none;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}
body #section-title #section-title-text {
  padding-left: 1rem;
}
body #section-title #section-title-underline {
  background: linear-gradient(to right, black 0%, transparent calc(100% / 3), transparent 100%);
  bottom: 0;
  height: 5px;
  position: absolute;
  width: 100%;
}
body #previous, body #next {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 1;
}
body #previous *, body #next * {
  cursor: pointer;
  pointer-events: auto;
}
body #previous {
  top: var(--header-height);
}
body #next {
  bottom: var(--footer-height);
}
body #up-arrow, body #down-arrow {
  height: calc(2rem * sin(60deg));
  width: 2rem;
}
body #up-arrow {
  background: linear-gradient(to bottom, #80ffc0, rgba(128, 255, 192, 0));
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
body #down-arrow {
  background: linear-gradient(to top, #80ffc0, rgba(128, 255, 192, 0));
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

#mode-observer {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}
@media (prefers-color-scheme: light) {
  #mode-observer {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  #mode-observer {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
