@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
}
body {
 --header-height: 3rem;
 --footer-height: 3rem;
 --main-height: calc(100vh - var(--header-height) - var(--footer-height));
 @media(prefers-color-scheme: light) {
  --shadow-color: #ccc;
  background: white;
  color: black;
 }
 @media(prefers-color-scheme: dark) {
  --shadow-color: #888;
  background: black;
  color: white;
 }
 a {
  color: inherit;
  text-decoration: none;
 }
 header, footer {
  background: inherit;
  left: 0;
  position: fixed;
  width: 100vw;
 }
 header {
  box-shadow: 0 -1rem 1rem 1rem var(--shadow-color);
  height: var(--header-height);
  text-align: center;
  top: 0;
 }
 footer {
  bottom: 0;
  box-shadow: 0 1rem 1rem 1rem var(--shadow-color);
  height: var(--footer-height);
  address{
   font-style: normal;
   height: 100%;
   ul {
    align-items: end;
    display: flex;
    height: 100%;
    list-style: none;
    li {
     align-items: center;
     display: flex;
     height: var(--footer-height);
     justify-content:center;
     text-align: center;
     img {
      height: 80%;
     }
    }
   }
  }
 }
 main {
  height: var(--main-height);
  position: relative;
  top: var(--header-height);
  width: 100%;
  #previous, #next {
   left: 0;
   position: absolute;
   text-align: center;
   width: 100%;
  }
  #previous {
   top: 0;
  }
  #next {
   bottom: 0;
  }
  #sections {
   -ms-overflow-style: none;
   height: 100%;
   left: 0;
   overflow: auto;
   position: absolute;
   scroll-snap-type: y mandatory;
   scrollbar-width: none;
   top: 0;
   &::-webkit-scrollbar {
    display: none;
   }
   section {
    height: 100%;
    scroll-snap-align: center;
   }
   ul {
    margin: 1rem;
   }
  }
 }
}
#mode-observer {
 position: fixed;
 top: 0;
 left: 0;
 height: 0;
 width: 0;
 @media(prefers-color-scheme: light) {
  display: none;
 }
 @media(prefers-color-scheme: dark) {
  display: block;
 }
}

