@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
}
body {
 --header-height: 3rem;
 --footer-height: 3rem;
 --subtitle-height: 5rem;
 @media(prefers-color-scheme: light) {
  --background: white;
  --color: black;
  --shadow-color: rgba(0, 0, 0, 0.25);
  background: white;
  color: black;
 }
 @media(prefers-color-scheme: dark) {
  --background: white;
  --color: black;
  --shadow-color: rgba(255, 255, 255, 0.25);
  background: black;
  color: white;
 }
 a {
  color: inherit;
  text-decoration: none;
 }
 header, footer {
  background: inherit;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
 }
 header {
  height: var(--header-height);
  text-align: center;
  top: 0;
 }
 footer {
  bottom: 0;
  height: var(--footer-height);
  address{
   font-style: normal;
   height: 100%;
   ul {
    align-items: end;
    display: flex;
    height: 100%;
    list-style: none;
    li {
     align-items: center;
     display: flex;
     height: var(--footer-height);
     justify-content:center;
     text-align: center;
     img {
      height: 80%;
     }
    }
   }
  }
 }
 main {
  height: 100vh;
  left: 0;
  overflow: auto;
  position: absolute;
  position: fixed;
  scroll-snap-type: y mandatory;
  top: 0;
  width: 100vw;
  z-index: 0;
  section {
   height: calc(100% - var(--header-height) - var(--footer-height) - var(--subtitle-height));
   scroll-snap-align: center;
   padding: {
    top: calc(var(--header-height) + var(--subtitle-height));
    bottom: var(--footer-height);
   }
   h2 {
    display: none;
   }
   ul {
    margin: 1rem;
   }
  }
 }
 #subtitle {
  align-items: center;
  background: white;
  display: flex;
  font-size: x-large;
  font-weight: bold;
  height: var(--subtitle-height);
  left: 0;
  position: fixed;
  position: relative;
  top: var(--header-height);
  width: 100%;
  z-index: 1;
  #subtitle-text {
   padding: {
    left: 1rem;
   }
  }
  #subtitle-underline {
   background: linear-gradient(to right, black 0%, white calc(100% / 3), white 100%);
   bottom: 0;
   height: 1rem;
   position: absolute;
   width: 100%;
  }
 }
 #previous, #next {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 1;
 }
 #previous {
  top: var(--header-height);
 }
 #next {
  bottom: var(--footer-height);
 }
 #up-arrow, #down-arrow {
  height: calc(2rem * sin(60deg));
  width: 2rem;
 }
 #up-arrow {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
 }
 #down-arrow {
  background: linear-gradient(to top, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
 }
 #shadow {
  background: linear-gradient(var(--shadow-color) 0, transparent 1rem, transparent calc(100% - 1rem), var(--shadow-color) 100%);
  height: calc(100% - var(--header-height) - var(--footer-height));
  left: 0;
  pointer-events: none;
  position: fixed;
  top: var(--header-height);
  width: 100%;
  z-index: 1;
 }
}
#mode-observer {
 position: fixed;
 top: 0;
 left: 0;
 height: 0;
 width: 0;
 @media(prefers-color-scheme: light) {
  display: none;
 }
 @media(prefers-color-scheme: dark) {
  display: block;
 }
}

